/packages
/.vs
/XL.Framework.BLL/bin
/XL.Framework.BLL/obj
/XL.Framework.DAL/bin
/XL.Framework.DAL/obj
/XL.Framework.Contract/bin
/XL.Framework.Contract/obj
/XL.Framework.web/bin
/XL.Framework.web/obj
/XL.Framework.Utility/bin
/XL.Framework.Utility/obj
/Exam.BLL/bin
/Exam.BLL/obj
/Exam.DAL/bin
/Exam.DAL/obj
/Exam.Models/bin
/Exam.Models/obj
/Exam.Web/bin
/Exam.Web/obj
/Exam.Web/Logs
