
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="/login/index">about</a>
<script>
    $(function () {
        $.post("/api/userinfo/login", {
        }, function (res) {
            console.log(res)
        });
    });
</script>